.login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 5%;
  &__logo {
    font-size: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &_input {
      padding: 10px;
      width: 250px;
      border-radius: 10px;
    }
  }
}
