.video {
  position: relative;
  display: block;
  height: 100vh;
  overflow: hidden;
  background-color: red;
  &__background {
    height: 100%;
    object-fit: cover;
    width: 100%;
    background-color: #fff;
  }
  &__numbers {
    position: absolute;
    display: flex;
    flex-direction: column;

    gap: 20px;
    right: 10px;
    bottom: 100px;
    z-index: 10;
    color: #fff;
  }
  &__number {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    &_icon {
      font-size: 30px;
    }
  }
  &__footer {
    position: absolute;
    padding: 10px;
    height: 0px;
    color: white;
    font-size: 18px;
    z-index: 10;
    bottom: 50px;
  }
  &__profile {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 20px;

    gap: 10px;
    &__image {
      img {
        border-radius: 100%;
        width: 35px;
        height: 35px;
        object-fit: cover;
      }
    }
    &__username {
      display: flex;
      gap: 10px;
      align-items: center;
      &__badge {
        font-size: 20px;
      }
    }
    &__follow {
      button {
        border-radius: 10px;
        font-size: 16px;
        border: 2px solid white;
        color: white;
        background: transparent;
      }
    }
  }
  &__description {
    position: absolute;
    width: 100vw;
    // border: 10px solid red;
  }
}
